
<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            
            <tbody>
                {{#each cartDat}}
                <tr>
                    <td><img src="/images/{{this._id._id}}.jpg" style="width:50px;height:50px" alt=""></td>
                    <td>{{this._id.name}}</td>
                    <td>
                        {{!-- {{#ifeq this.quantity}} --}}
                        
                        {{!-- <a href="/changeQty?id={{this._id._id}}&count=-1&countOld={{this.quantity}}" class="btn cart-item-count mr-3 btn-success">-</a> --}}
                        
                        <a href="/changeQty?id={{this._id._id}}&count=-1&countOld={{this.quantity}}" class="btn cart-item-count mr-3 btn-secondary" style="{{#ifeq this.quantity}}{{/ifeq}}" >-</a>
                
                        <label id="itemcount"> {{this.quantity}} </label>
                        <a href="/changeQty?id={{this._id._id}}&count=1" class="btn cart-item-count mr-3 ml-3 btn-secondary" >+</a></td>
                        <td>{{#price this._id.price this.quantity}}{{/price}}</td>
                    <td>
                        <a href="/remove?id={{this._id._id}}" class="btn btn-danger">remove</a>
                        </td>
                </tr>
                 {{/each}}
                 <tr>
                    {{#if status}}
                    <td colspan="4">
                        <div class="text-center">
                    <p>Cart is empty, Go to <a href="/orders">Orders</a></p>
                        </div>
                    </td>
                    {{else}}
                    <td colspan="4">
                    <div class="float-right">
                        <h4>Total Amount : {{totalPrice}}</h4>
                        <a href="/place-order" class="btn btn-success float-right" style="width: 100%;" >Place Order</a>
                    </div>
                    </td>
                    {{/if}}
                 </tr>
            </tbody>
           
        </table>
    </div>
</section>
